<h1>Edit Meeting</h1>
<%= form_tag "/meetings/#{@meeting.id}", method: :patch do %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    Name: <input type="text" name="name" value="<%= @meeting.name %>">
  </div>
  <div>
    Address: <input type="text" name="address" value="<%= @meeting.address %>">
  </div>
  <div>
    Start time: <input type="datetime-local" name="start_time" value="<%= @meeting.start_time %>">
  </div>
  <div>
    End time: <input type="datetime-local" name="end_time" value="<%= @meeting.end_time %>">
  </div>
  <div>
    Notes: <textarea name="notes" cols="30" rows="10"><%= @meeting.notes %></textarea>
  </div>
  <input type="submit" value="Submit">
<% end %>
